* {
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 100%;
}

/* Header */

nav {
  z-index: 9999;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: black;
  text-align: center;
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 50px;
  padding: 25px 50px;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.logo img {
  max-height: 30px;
  vertical-align: middle;
}

nav a,
nav a:link,
nav a:visited,
nav a:active{
    text-decoration: none;
    color: white;
}

nav a:hover {
  color: white;
  opacity: 0.8;
}

.nav_btn {
  position: relative;
  left: 1025 px;
  padding: 10px 30px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.4);
  transition: .4s;
  border-radius: 30px;
  max-width: 110px;
}

.nav_btn:hover {
  color: white;
  opacity: 0.8;
}

/* Banner */

.block {
  min-width: 1024px;
   width: 100%;
   height: 600px;
   background: linear-gradient(150deg, #419d0b 15%, #205c3b 70%, #052e54 94%);
   transform: skewY(-8deg);
	 transform-origin: 0;
   position: absolute;
   top: 0;

}

.banner {
	position: relative;
	display: flex;
  margin: 0 auto;
  padding: 25px 50px;
	flex-direction: column;
	justify-content: center;
  color: white;
	max-width: 1024px;
}

.banner ul {

    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}

.no_btn {
  padding-left: 20px;
  visibility: hidden;
}

.no_btn:hover {
  opacity: 0.8;
}

h1 {
  font-weight: 700;
  font-size: 70px;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  line-height: 0.9;
  padding-bottom: 40px;
  min-width: 400px;

}

p {
  font-family: 'Work Sans', sans-serif ;
  font-weight: 300;
  font-size: 16px;
}

.by-line {
  max-width: 600px;
  padding-bottom: 40px;
}

.further-info {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

a {
  font-family: Raleway, sans-serif ;
  font-size: 14px;
  font-weight: 600;
}

.arrow {
  border: solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Banner Image*/

.img-wrapper {
  position: absolute;
  opacity: 0;
	top: 120px;
	right: 50px;
	border-radius: 24px;
  animation: up 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}
.img-wrapper img {
	width: 250px;
	height: auto;
}

.square_btn {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    left: 50px;
    top: 20px;
    border: 2px solid black;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    background: #FFF;
    transition: .4s;
    border-radius: 30px;
  }

.square_btn:hover {
    background: black;
    color: white;

}

/* Clients */
h3 {
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: 600;
}

.faded {
  opacity: 0.1;
  text-align: center;
}

.brands {
  position: relative;
  top: 120px;
  padding-bottom: 150px;
}

.grid {
  display: grid;
  align-items: center;
  justify-items: center;
  margin: auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: 100px;
  max-width: 1000px;
}

.grid > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 120px;
  max-height: 100px;

}

/* Second div */

.blocks {

  width: 100%;
  background: lightgray;
  z-index: -1;
  padding: 50px 0 50px 0;
  position: relative;

}

.two-col {
  flex: 50%;
  padding: 0 50px 0px 0px;
}

@media(max-width: 400) {
   .two-col{flex:100%;}
}


.col-container {
  display: flex;
}

.page-element{
  margin: 0 auto;
  padding: 25px 50px;
}

h4 {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 600;
  color: #419d0b;
}

/* Banner Animations*/
@keyframes up {
	0% {
		transform: translateX(150px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  .img-wrapper {
    display: none;
  }
  .no_btn {
    visibility: visible;
    animation: fadein 1s;
  }
}

@media screen and (max-width: 740px) {
  h1 {
    font-size: 9vw;
  }
