p {
  font-family: 'Work Sans', sans-serif ;
  font-weight: 300;
  font-size: 16px;
  padding: 0 0 20px 0;
}


a {
  font-family: Raleway, sans-serif ;
  font-size: 14px;
  font-weight: 600;
}

.further-info {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

nav {
  z-index: 9999;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: white;
  margin: 20px 0px 0px 150px;
  position: relative;
  text-align: center;
  max-width: 1024px;
}

h3 {
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: 600;
}

h4 {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 600;
  color: #419d0b;
}

.faded {
  opacity: 0.1;
  text-align: center;
  position: relative;
  top: -80px;
}

.clients {
  position: relative;
  top: -100px;
}

.two-col {
  flex: 50%;
  padding: 0 50px 0px 0px;
}


.col-container {
  display: flex;
}

.page-element{
  margin-left: 150px;
  margin-right: 100px;
}

.grid {
  display: grid;
  align-items: center;
  justify-items: center;
  margin: auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: 100px;
  max-width: 1000px;
}

.grid > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 120px;
  max-height: 100px;

}

nav ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.logo img {
  max-height: 30px;
  vertical-align: middle;
}

nav a,
nav a:link,
nav a:visited,
nav a:active{
    text-decoration: none;
    color: white;
}

nav a:hover {
  color: white;
  opacity: 0.8;
}

h1 {
  font-weight: 700;
  font-size: 80px;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  line-height: 0.9;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 20px 0px;
}

.nav_btn {
  position: relative;
  left: 1025 px;
  padding: 10px 30px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.4);
  transition: .4s;
  border-radius: 30px;
  max-width: 110px;
}

.nav_btn:hover {
  color: white;
  opacity: 0.8;
}

.grid-clients {
  margin-left: 150px;
}

.square_btn {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    left: 50px;
    top: 20px;
    border: 2px solid black;
    font-family: Raleway;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    background: #FFF;
    transition: .4s;
    border-radius: 30px;
  }

.square_btn:hover {
    background: black;
    color: white;
}


.block {
  min-width: 1024px;
   width: 100%;
   height: 680px;
   background: linear-gradient(150deg, #419d0b 15%, #205c3b 70%, #052e54 94%);
   transform: skewY(-8deg);
	 transform-origin: 0;
   position: absolute;
   top: 0;
   padding: 0px 0px 0px 0px;
}

.blocks {
  min-width: 1024px;
  width: 100%;
  background: lightgray;
  z-index: -1;
  padding: 50px 0 0 0;
  position: relative;
  top: -50px;
}



.text {
	position: relative;
	height: 700px;
	display: flex;
	margin: -60px 0 0 150px;
	flex-direction: column;
	justify-content: center;
  color: white;
	max-width: 1024px;
}

.img-wrapper {
  position: absolute;
  opacity: 0;
	top: 120px;
	right: 50px;
	border-radius: 24px;
  animation: up 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}
.img-wrapper img {
	width: 250px;
	height: auto;
}

.text p {
  max-width: 600px;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

@keyframes up {
	0% {
		transform: translateX(150px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 830px) {
  .img-wrapper {
    display: none;
  }
}

@media screen and (max-height: 600px) {
	.text {
		margin: -200px 0 0 150px;
	}
	.block {
		height: 500px;
	}
	.img-wrapper {
		top: 280px;
	}
}
